[Unit]
Description=Auto power Management without acpi_call
After=power-profiles-daemon.service

[Service]
ExecStart=/bin/sh -c "sh /opt/lenovopower/lenovopowercheck.sh"

[Install]
WantedBy=multi-user.target
